@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar-elements{
    font-family: 'Roboto', sans-serif;
    @media (max-width:992px) {
        img{
            display: none;
        }
    }
    .logo-df{
        width: 100%;
    }
    .li-img{
        width:6rem;
    }
    .menu-buttons{
        background-color: #d22350;
        border-radius: 10px;
        font-size: 1.35rem;
        @media (min-width:800px) {
            margin-top: 1.5rem !important;
            margin: 1rem;
            height: 3rem;
        }
        @media (max-width:992px) {
            height: 3rem;
            margin-top: 1.5rem !important;
            border-radius: 10px;
            text-align: center;
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');

.title-navbar{
    font-family: 'Sancreek', cursive;
    @media (min-width:992px) {
        display: none;
    }
}

.bg-navbar{
    background-color: rgba(0, 0, 0, 0.5); 
}
