@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');

div#fondo-promos{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/promos.jpg");
    
    width: 100%;
    height: 150vh;
    @media(min-width: 670px){
        height: 85vh;
    }
    @media (min-width:992px){
        height: 100vh;
    }
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
    p.title-promos{
        width: 100%;
        font-family: 'Sancreek', cursive;
        background-color:#9f2cd9;
        color: #f47212;
        text-align: center;
        font-size: 2.1rem;
        @media (max-width:659px){
            font-size: 1.9rem;
            padding: 2%;
        }
        padding: 0.8rem;
        height: auto;
    }

    div.container-fluid{
        @media (min-width:992px){
            position: absolute;
            top:20%
        }
        @media(min-width: 1025px){
            position: absolute;
            top:23%
        }
        
    }
  
    div.row{
        div.first-row{
            @media(min-width: 670px){
                width: 20.5rem;
                height: auto;
                p{
                    padding-top: 0.4rem;
                }
            }
            @media (min-width:992px){
                width: 30rem;
                height: auto;
            }
            @media(min-width: 1025px){
                width: 37rem;
                height: auto;
            }
        }
    }
    
    div.card{
        font-family: 'Sancreek', cursive;
        background-color: #212529;
        text-align: center;
        width: 25rem;
        height: 26vh;
        @media (max-width:659px){
            padding: 0rem !important;
        }
        @media(min-width: 670px){
            width: 14rem;
            height: auto;
        }
        @media (min-width:992px){
            width: 20rem;
            height: auto;
        }
        @media(min-width: 1025px){
            width: 24.65rem;
            height: auto;
        }
        p.card-title{
            color: #ff2562;
            font-size: 1.5rem;
            @media (min-width:992px){
                font-size: 1.7rem;
            }
            @media(min-width: 1025px){
                font-size: 2.3rem;
            }
        }
        p.card-subtitle{
            font-size: 1.4rem;
            color: #32d7a0;
            @media(min-width: 670px){
                font-size: 1.2rem;
            }
            @media (min-width:992px){
                font-size: 1.5rem;
            }
            @media(min-width: 1025px){
                font-size: 1.9rem;
            }
        }
        p.card-text{
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 1.5rem;
            @media(min-width: 670px){
                font-size: 1.1rem;
            }
            @media (min-width:992px){
                font-size: 1.4rem;
            }
            @media(min-width: 1025px){
                font-size: 1.6rem;
            }
        }
    }
    
}